<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
	<div id="userpanel">
    <% if current_user %>
      <span><b><%= current_user.username %></b></span>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Register", new_user_path %>
	  <% end %>
	</div>
	<%= yield %>
</div>

</body>
</html>
